<!-- Main -->
<link href="https://api.hypere.app/" rel="canonical"/>
<meta content="FoxGPT" name="apple-mobile-web-app-title"/>
<meta content="en" http-equiv="Content-Language"/>

<!-- OpenGraph -->
<meta property="og:title" content="FoxGPT: Use cutting-edge AI for free!">
<meta property="og:type" content="website">
<meta property="og:url" content="hhttps://api.hypere.app">
<meta property="og:image" content="https://api.hypere.app/static/img/cover.png">

<!-- Description -->
<meta property="og:description" content=
    "🤖 Tired of paying for AI APIs? FoxGPT allows you to utilize the newest language models for absolutely free!"
>
<meta property="description" content=
    "🤖 Tired of paying for AI APIs? FoxGPT allows you to utilize the newest language models for absolutely free!"
>
<meta name="description" content=
    "🤖 Tired of paying for AI APIs? FoxGPT allows you to utilize the newest language models for absolutely free!"
>

<meta property="og:determiner" content="the">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="en_GB">
<meta property="og:site_name" content="Official FoxGPT Website">

<meta property="og:article:author" content="FoxGPT">
<meta property="og:article:tag" content="FoxGPT">

<!-- Other -->
<meta name="theme-color" content="#ff0eb1">
<meta name="twitter:card" content="summary_large_image">
