{% include 'components/top.html' %}

<h1 id="donate">Donate</h1>
<p>
    Thank you for using this service!
    It's completely free and I don't plan on monetizing it in any way.
    So if you would like to support this project, please consider donating to one of the following addresses:
</p>

<h2>PayPal</h2>
<p>
    I now accept PayPal donations! <a href="https://paypal.me/supercooladi70">paypal.me/supercooladi70</a>.
    <br>
</p>

<h2>Crypto Currencies</h2>
<h3>Bitcoin (BTC)</h3>
<code>bc1qs47kga0wfwyc2dals7kl08zpd5e4f85sanah63</code>
<br><br>
<img src="/static/img/btc.png" alt="Bitcoin QR Code" width="200px">

{% include 'components/end.html' %}